body{

background: rgb(0,0,0);
background: linear-gradient(90deg, rgba(0,0,0,1) 64%, rgba(84,0,6,1) 100%);
height: 100vh;
display: flex;
align-items: center;
justify-content: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}



.container{

    width: 80%;
    height: 90%;
    position: relative;
    box-shadow: 0 0 1rem 0 rgba(190, 3, 3, 0.2); 
    border-radius: 20px;
    background: inherit;
    overflow: hidden;
  
}

.container:before {
    content: "";
    position: absolute;
    background: inherit;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5);
    filter: blur(10px);
    margin: -20px;
  }



nav{
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
   

}
  
ul{
    list-style: none;
    display: flex;
    color: rgba(253, 188, 188, 0.733);
    padding: 0;
}

li{
    margin: 0 15px;
    display: flex;
    align-items: center;

   
}

.colors{
    color: rgba(253, 188, 188, 0.733);
}

.colors:hover{
    color: #5f0101;
    cursor: pointer;
}



#radio:hover{
    color: black;    
    cursor: pointer;
}


.social-media{
    color: rgba(253, 188, 188, 0.733);
    display: flex;
    flex-direction: column;
    justify-content:center;    
    width: fit-content;
    height: 100%;
}

svg{
    margin: 15px;
}


.content{
    color: rgba(253, 188, 188, 0.733);
    display: flex;
    height: 100%;
    align-items: center;
    position: relative;

    
}

.content-text{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    display: inline-block
    

}



.dirigivel{
    
    width: 80%;
    animation: float 5s ease-in-out infinite;
    
}



@keyframes float {

0% {
    transform: translateY(-230px);
}

50% {
    transform: translateY(-250px);
}

100% {
    transform: translateY(-230px);
}

}

img{
    
    display: block;
    margin: auto;
}

.logo{
    background: #202124;
    margin-left: auto;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    position: absolute;
    bottom: 0;
    right: 0;
    border-radius: 8px 0 0 0;    
    

}

.logo:hover{
    background: black;
    cursor: pointer;
}